body{
    background-image: linear-gradient(#1997b0,#145482) ;
}
footer{
 background-color: #0e3857; 
 color: aliceblue;  
}
.offwhite{
    background-color: #b6c2cc;
}
.name{
    text-align: center;
    font-size: 5em;
    font-family: serif;
    font-weight: bolder;
}
.music{
    color: #ffffff;
}

.sociallink a{
	color: white;
}
.sociallink a:nth-child(2):hover, .sociallink a:nth-child(3):hover, .sociallink a:nth-child(4):hover{
	color: #00AAAA;
}
.sociallink a:nth-child(5):hover, .sociallink a:nth-child(1):hover{/* You can add .sociallink a:nth-child(7):hover if you want mail here*/
	color: red;
}
.sociallink a:nth-child(6):hover{
	color: #00AA55;
}
.sociallink i{
	font-size: 28px;
}